<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header class="sobretudo">
        <div class="buttonCadastro"> 
            <button class="login" type="button" onclick="location.href='login.html'">Login</button>
            <button class="cadastrar" type="button" onclick="location.href='cadastrar.html'">Cadastrar</button>
        </div>

        <div class="container">
            <div class="foto">
                <img src="https://avatars.githubusercontent.com/u/68366424?v=4" class="fotouser" title="fotoUsuario">
            </div>
            <div class="campos">
                <div><button class="redesSociais">Facebook</button> </div>
                <div><button class="redesSociais">Instagram</button> </div>
                <div><button class="redesSociais">GitHub</button> </div>
                <div><button class="redesSociais">Linkedin</button> </div>
                <div><button class="redesSociais">whatsapp</button> </div>
            </div>
        </div>
    </header>
</body>

</html>