<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <header>
        <div class="container">
            <form action="">

                <img src="../img/4527372_army_avatar_character_game_golden_icon.svg" class="fotouser"
                    title="fotoUsuario">


                <label for="email">Email</label>
                <input type="text" name="email" placeholder="Email">
                <label for="senha">Senha</label>
                <input type="password" name="senha" placeholder="Senha">
                <input type="submit" value="Logar">
                <input type="button" value="Cadastrar" onclick="location.href='cadastrar.html'">
            </form>
        </div>
    </header>
</body>

</html>